/* Información del trabajador */
.trabajador-info {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  display: flex;
}

.trabajador-info img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 2rem;
  max-width: 150px;
}

.trabajador-info p,
.trabajador-info ul {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #333;
}

.trabajador-info strong {
  color: #0288d1;
}

/* Horario */
.trabajador-info ul {
  padding-left: 1.0rem;
}

/* Lista de citas */
.citas-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  margin: 0 auto;
}

.cita {
  border-left: 5px solid #4fc3f7;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #f1faff;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.cita:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.cita p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
}

.cita strong {
  color: #0077b6;
}

.estado-botones,
.acciones {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.estado-botones button:nth-child(1) {
  background-color: #ffc107;
}

.estado-botones button:nth-child(2) {
  background-color: #17a2b8;
  color: white;
}

.estado-botones button:nth-child(3) {
  background-color: #28a745;
  color: white;
}

.estado-botones button:nth-child(4) {
  background-color: #8000ff;
  color: white;
}


.acciones button:nth-child(1) {
  background-color: #007bff;
  color: white;
}

.acciones button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.9;
}

/* Media query para pantallas pequeñas (ej: móvil) */
@media (max-width: 600px) {
  .trabajador-info {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

  .trabajador-info img {
    border-radius: 100px;
    margin-bottom: 1rem;
    max-width: 150px;
  }

  .estado-botones,
  .acciones {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}