<!-- Input para realizar la búsqueda por filtro -->
<input 
  type="text" 
  placeholder="Buscar por servicio..." 
  [(ngModel)]="filtroServicio"
  class="buscador"
/>

<!-- Crear un div por cada elemento del array, se recorren con un bucle for -->
<div *ngFor="let trabajador of trabajadoresFiltrados()" class="trabajador-card">
  <img [src]="trabajador.foto_url" alt="Foto de {{trabajador.nombre}}" />
  <h4>{{ trabajador.nombre }} {{ trabajador.apellidos }}</h4>
  <p class="servicios">{{ trabajador.servicios_asignados.join(', ') }}</p>
</div>
