<!-- Radio buttons para seleccionar el tipo de filtro -->
<div>
  <label>
    <input type="radio" name="filtroTipo" [(ngModel)]="tipoFiltro" value="profesional" /> Profesional
  </label>
  <label>
    <input type="radio" name="filtroTipo" [(ngModel)]="tipoFiltro" value="especialidad" /> Especialidad
  </label>
</div>

<!-- Input único para buscar -->
<input [(ngModel)]="textoFiltro" placeholder="Buscar..." />

<!-- Crear un div por cada elemento del array, se recorren con un bucle for -->
<div *ngFor="let trabajador of trabajadoresFiltrados()" class="trabajador-card">
  <img [src]="trabajador.foto_url" alt="Foto de {{trabajador.nombre}}" />
  <h4>{{ trabajador.nombre }} {{ trabajador.apellidos }}</h4>
  <p class="servicios">{{ trabajador.servicios_asignados.join(', ') }}</p>
</div>
